.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 20px;
  padding: 20px;
  grid-template-areas:
    "create social social schedule"
    "create social social schedule"
    "create manage maintain schedule"
    "write  manage maintain schedule"
    "write  faster  grow      grow"
    "write  faster  grow      grow";
}
