.create-section {
  grid-area: create;
}
.write-section {
  grid-area: write;
}
.social-section {
  grid-area: social;
}
.manage-section {
  grid-area: manage;
}
.maintain-section {
  grid-area: maintain;
}
.schedule-section {
  grid-area: schedule;
}
.faster-section {
  grid-area: faster;
}
.grow-section {
  grid-area: grow;
}